
/* -- Fullscreen radial gradient -- */

html
{
	/* Note: vendor specific experimental implementations doesn't validate in CSS Validator */

	background-color:   #0176A0;
	background-image:   -moz-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -webkit-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -o-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -ms-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr = '#029CC9', endColorstr = '#005077', GradientType = 0);

	/* html and body at 100% height required for full screen background gradient */
	height: 100%; 
    min-height: 100%;
}

body {  
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif; 
	margin:0; /* Remove default margins */
	height: 100%;
}

header {

}

nav {
	background-color:white;
	margin:0;
	border-bottom: 1px solid black;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.nav-item {
	width: 100%;
	height:60px;
	line-height:60px;
}

nav ul {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: space-between;
	width: 100%; 
	margin: 0; /* reset margins */ 
	padding: 0;
	list-style-type: none; /* remove bullets */
}

nav ul li {
	line-height: 60px;
	padding-left: 0px;
	padding-right: 0px;
	width: 106px; /* iphone width / 3 (remainder 2 px) */
	text-align: center;
/*	background-color:grey;  used for debug size */
	display: inline-block; /* horisontal position */
}

nav ul li:last-of-type { 
	text-align: right;	/* set width + align right to prevent horisontal jitter on nav bar when adding items to shoppingbag */
	}

nav ul li:first-of-type {
	text-align: left;
}

nav ul li a {
	/* Bigger area for selection */
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
/*	width: 130px; */
}

nav ul li a.shoppingBag { 
	padding-left: 0px; /* reduce width on left side to make space for counter */
}

/* -- Paint it black! -- */

nav { 
	background-color: black;
}

nav ul li a {
	color: white;
}

nav ul li a:hover { 
	color: #e0e0e0;
}

/* -- END: Paint it black! -- */

#mainContainer,
#loginContainer {
	margin:0;
}

#mainContainer {
	height: 100%;  /* fill white vertically */
	background-color:white;
}

#innerContainer {
	margin:0;
	background-color:white;
	padding-right: 4px;
	padding-left: 4px;
}

#innerLoginContainer { 
	background-color: white;
	min-height: 184px;
	padding: 20px;
	padding-top:20px;
}

button { 
	margin-top: 4px; 
	margin-bottom: 4px;
}

article {

}

footer { 
	margin-top: 18px;
	font-size: 10px;
	font-style: italic;
}

/* Reset margins */

h1 { 
	margin: 0;
}

p {
	margin: 0;
}

/* Set heading font for impact */ 

h1.logo {
	text-transform: uppercase;
	color: white;
	font-family: Oswald;
	font-weight: 800;
	text-align: center;
}

/* Inherit font (from Mozilla Developer Network) */

button, input, select, textarea {
  font-family : inherit; 
  font-size   : 100%;
}

/* Set the same box styling (from Mozilla Developer Network) */

input, textarea, select, button {
  width : 100%;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

.signin, .signup {
	width:48%;
	border:0; 
	display: inline-block;
	margin:0;
	background-color: white;
	margin-top: 4px;
}

.selected {
	background-color: skyblue;
}

/* Margin for input and buttons */ 

input { 
	margin-top: 4px;
	margin-bottom: 4px;
	padding:8px;
	padding-left:4px;
	padding-right:4px;
}

button {
	padding:8px;
}

/* ------------ Store Items ------------- */

article.storeItem {
	background-color:white;
	padding-left: 0px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-bottom:4px;
}

.storeItemImage {
	width: 100px;
	height: 100px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
	background: #feffff;
	background: -moz-radial-gradient(center, ellipse cover,  #feffff 0%, #d2ebf9 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #feffff 0%,#d2ebf9 100%);
	background: radial-gradient(ellipse at center,  #feffff 0%,#d2ebf9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=1 );
}

.addToShoppingBag {
	height:100px;
	width:80px;
}

.innerContainerStore {
	padding-bottom: 24px;
	padding-top: 8px;
}

.productDescription {
	padding-left: 4px;
	padding-right: 4px;
}

.productDescription h3 {
	margin-top: 16px; 
	margin-bottom: 4px;
}

.productDescription p {
	margin-top: 4px;
}

.switchLoginMethod {
	text-decoration: underline;
}

.productDescription {
	width: 156px; /* (4 + 4 padding) */
}

.mainArticleShoppingBag h1 {
	margin-bottom: 16px;
}

table, tr, td { 
	border-collapse: collapse;
	border: 0;
}

tr:nth-child(odd) {
	background-color: #e0e0e0;
}

tr:nth-child(even) {
	background-color: #f0f0f0;
}

td {
	padding: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ------------ About text styling ------------- */

	p { 
		margin-top: 16px;
		line-height: 19px;
	}

	.mainArticle { 
		padding-top: 32px;
/*		padding-bottom: 48px; */
		padding-bottom: 54px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.mainArticleShoppingBag	{
		padding-top: 24px;
		padding-left: 12px;
		padding-right: 12px;
	}

/* ------------ Button  ------------- */

.button {
  background: #41bdf2;
  background-image: -webkit-linear-gradient(top, #41bdf2, #0c77a8);
  background-image: -moz-linear-gradient(top, #41bdf2, #0c77a8);
  background-image: -ms-linear-gradient(top, #41bdf2, #0c77a8);
  background-image: -o-linear-gradient(top, #41bdf2, #0c77a8);
  background-image: linear-gradient(to bottom, #41bdf2, #0c77a8);

  text-shadow: 0px 1px 1px #202020;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  border: solid white 1px;
  text-decoration: none;
}

.buyButton {
	/* -- hack for vertical aligning */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.button:hover {
  background: #5ccaf2;
  background-image: -webkit-linear-gradient(top, #5ccaf2, #2192c2);
  background-image: -moz-linear-gradient(top, #5ccaf2, #2192c2);
  background-image: -ms-linear-gradient(top, #5ccaf2, #2192c2);
  background-image: -o-linear-gradient(top, #5ccaf2, #2192c2);
  background-image: linear-gradient(to bottom, #5ccaf2, #2192c2);
  text-decoration: none;

  border: solid #000000 1px; /* Shows it is marked */

}

/* Number of items ot checkout. Shows in front of shoppingbag */

.itemsToCheckout {
	color: #1FDE58;
	font-weight: bold; 
}
a:hover.itemsToCheckout {
	color: #2FEE68;
}

/* Counter in front of shopping bag nav item */

.counter { 
	width: 30px;
	display:inline-block;
}


.checkout {
	margin-top: 16px;

}

/* -- Advertisment -- */ 

.advertisment {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: white;
	font-size: 40px;
	font-weight: 800;
	z-index:1000; /* On top of everything */
}

.advertismentContent {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
}


/* -- Larger screen media query -- */

@media screen and (min-width: 700px) {

	/* -- Box styling for login page -- */

 	#loginContainer {
 		width: 300px;
 		margin: 0px auto;

 		margin-top:120px;
	} 

	/* Shadow to emphasis the content */

	#innerLoginContainer { 
		-webkit-box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
	}

	/* -- mainContainer on store and about page -- */

	#mainContainer {
		width: 960px;
		margin: 0px auto;
	}

	nav { 
		margin: 0; 
		padding: 0;
		display: block;
		margin-bottom:16px;
	}

	#innerContainer { 
		background-color: white; 
		padding-left:40px;
		padding-right:40px;
	}

	.innerContainerStore {
		padding-left:16px;
		padding-right:16px;
	}

	/* -- Fix for IE 9 because of flex -- */

	.storeItemImage { 
		float:left;
		display: inline-block;
		height:100px;
	}
	.productDescription {
		float:left;
		display: inline-block;
		height:100px;
	}
	.addToShoppingBag {
		float:left;
		display: inline-block;
		height:100px;
	}

	/* Clearfix */

	/*
		.cf:before,
		.cf:after {
		    content: " "; 
		    display: table; 
		}

		.cf:after {
		    clear: both;
		}
	*/

	/* Longer clear fix (the short version destroyed layout in safari and Opera) */

	.cf:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	     }
	.cf { display: inline-block; }
	/* start commented backslash hack \*/
	* html .cf { height: 1%; }
	.cf { display: block; }
	/* close commented backslash hack */

	/* -- Two columns -- */

	.numberOfColumns {
		-moz-column-count: 2;
		-moz-column-gap: 32px;
		-webkit-column-count: 2;
		-webkit-column-gap: 32px;
		column-count: 2;
		column-gap: 32px;
	}

	.productDescription {
		padding-left: 16px;
		padding-right: 16px;
	}

	.mainArticle {
		padding-left:40px;
		padding-right:40px;
	}
	
	/* -- Making store items appear in two columns + layout -- */

	.innerContainerStore {
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  		display: -ms-flexbox;      /* TWEENER - IE 10 */
  		display: -webkit-flex;     /* NEW - Chrome */
  		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-wrap: wrap;
	}
	article .storeItem {
		padding-right:16px;
	}
	.addToShoppingBag { 
		margin-right:0px;
	} 

	#innerContainer.innerContainerStore {
		padding-left:80px;
	}

	div#innerContainer article.storeItem {
		float: left;
		width: 420px !important;
	}

	.productDescription {
	/*	width: 180px; */ 
		width: 148px; /* 180 (width + 16 + 16 padding) */
	}

	/* -- Advertisment -- */ 

	.advertisment {
		font-size: 72px; /* Bigger font for larger screens */
	}

}

/* -- End of desktop CSS -- */

