
/* Fullscreen radial gradient */
html
{
	background-color:   #0176A0;
	background-image:   -moz-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -webkit-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -o-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -ms-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr = '#029CC9', endColorstr = '#005077', GradientType = 0);
	height: 100%; /* html, body for full screen background gradient and full height container background */
    min-height: 100%;
}


body {  
/*	font-family: "Open Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif; */
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif; 
	margin:0; /* Remove margin */
	height: 100%;
}

header {

}

nav {
	background-color:white;
	margin:0;
	border-bottom: 1px solid black;
/*	width: 100%; */
/*	height: 500px;*/
/*	width: 800px; */
	display: flex; 
/*	flex-direction: row; */
/*	justify-content: center; *//* Lägg till fler browsers här senare */
}
/*
.nav-item { display: inline-block;}

nav ul {
	margin:0;
	padding:0;
}

li {
	display: inline-block; 
	list-style-type: none;
	background-color: skyblue;
	height: 100px;
}
*/

.nav-item {
	width: 100%;
	height:60px;
	line-height:60px;
}

nav ul {

	display: flex;  /* flex navigation */
	justify-content: space-between;
	width: 100%; 

	margin: 0;
	padding: 0;
	list-style-type: none; /* remove bullets */
}

nav ul li {
	line-height: 60px;
	padding-left: 0px;
	display: inline-block; /* horisontal position */
}

nav ul li a {
	/* klickbar yta */
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
}

/*
nav ul li {
	display: inline-block;
	width: 100%;
	height:60px;
	line-height:60px;
}
*/

#mainContainer,
#loginContainer {
/*	display: flex; */
/*	margin: auto 0; */
/*	width: 500px; */
/*	background-color: white; */
/*	opacity: 0.8; */
	margin:0;
}

#mainContainer {
/*	display: flex;
	width:800px; */
	height: 100%;  /* fill white vertically */
	background-color:white;
/*
	display: flex;
	flex-direction: row; */
}

#innerContainer {
	margin:0;
	background-color:white;
	padding-right: 16px;
	padding-left: 16px;
}

#innerLoginContainer { 
	background-color: white;
	min-height: 200px;
	padding: 20px;

	/* Render box shadow */
/*	
	-webkit-box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25); */
}

article {

}

/* reset margins */
h1 { 
	margin: 0;
}

p {
	margin: 0;
}

/* Set heading font for impact */ 

h1.logo {
	text-transform: uppercase;
	color: white;
	font-family: Oswald;
	font-weight: 800;
	text-align: center;
/*	margin-top:120px;
	margin-bottom:6px; */
}

/* Inherit font (from Mozilla Developer Network) */

button, input, select, textarea {
  font-family : inherit; 
  font-size   : 100%;
}

/* Set the same box styling (from Mozilla Developer Network) */

input, textarea, select, button {
  width : 100%;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
/*
button .signin, button .signup {
	width:50%;
}*/

.signin, .signup {
	width:48%;
	border:0; 
	display: inline-block;
	margin:0;
	background-color: white;
}

.selected {
	background-color: skyblue;
}

/* Margin for input and buttons */ 

input { 
	margin-top: 4px;
	margin-bottom: 4px;
	padding:8px;
	padding-left:4px;
	padding-right:4px;
}

button {
	margin-top: 4px;
	margin-bottom: 4px;
	padding:8px;
}


/* 
	Media queries from CSS Tricks 
	https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

	 body {
/*	 	font-size: 60px; */
	 }

	#innerContainer { 
		background-color: white; 
		padding-left: 16px;
		padding-right: 16px;
	}


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* Media query for laptops */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
/*
 	#container {
 		width: 500px;
 		height: 400px;
 		margin: 0px auto;
	} */
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* -- Egen media query -- */

@media screen and (min-width: 700px) {

	/* -- Box styling for login page -- */
 	#loginContainer {
 		width: 300px;
 		margin: 0px auto;
	} 
	/* Shadow to emphasis the content */

	#innerLoginContainer { 
	-webkit-box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 34px 0px rgba(0,0,0,0.25);

	}

	/* -- mainContainer on store and about page -- */

	#mainContainer {
/*		width: 960px;*/
/*		min-width:700px;*/
		width: 960px;
		margin: 0px auto;
	}

	nav { 
	/*	width: 960px;*/
/*		width: 700px; */
		margin: 0; 
		padding: 0;
		display: block;
		margin-bottom:16px;
	}

	#innerContainer { 
		background-color: white; 
		padding-left:40px;
		padding-right:40px;
	}

	/* -- Two columns -- */

	.numberOfColumns {
		-moz-column-count: 2;
		-moz-column-gap: 32px;
		-webkit-column-count: 2;
		-webkit-column-gap: 32px;
		column-count: 2;
		column-gap: 32px;
	}

}

/* -- End of desktop CSS -- */




.switchLoginMethod {
	text-decoration: underline;
}

/* ------------ About text styling ------------- */

	p { 
		margin-top: 16px;
		line-height: 19px;
	}

	.mainArticle { 
		padding-top: 32px;
/*		padding-bottom: 48px; */
		padding-bottom: 54px;
	}


/* ------------ Store Items ------------- */

article.storeItem {
	background-color:white;
	padding-left: 10px;
	display: flex;
}

.storeItemImage {
	width: 100px;
	height: 100px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */

	/* -- -- */
	line-height:100px;
}

.addToShoppingBag {
/*	background-color:red; */ /* debug */ 
	line-height: 100px; /* vertical align */
}

.innerContainerStore {
	padding-bottom: 24px;
	padding-top: 8px;
}

.productDescription {
	padding-left: 16px;
	padding-right: 16px;
/*	width: 500px;
*/
}

/* duplicate 
#innerContainer {
	background-color:white;
	padding-left:16px;
	padding-right:16px;

}

*/

/* -- Two columns -- */
/*
.numberOfColumns {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
}*/
